 <IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /the-glade/
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-l
 RewriteRule . /the-glade/index.html [L]
 </IfModule>