@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

h3.heading {
  @apply
      font-serif
      italic
      text-2xl
      md:text-3xl
      text-[#D4C8C8];
}

.label {
  @apply
      block
      text-base
      text-[#D4C8C8]
      font-semibold
      mb-0.5
      hover:text-emerald-300;
}

.text-input {
  @apply
      bg-black
      border
      border-stone-600
      focus:outline-none
      focus:ring-2
      focus:border-emerald-500
      focus:ring-teal-400
      hover:animate-pulse
      w-full
      h-11
      px-4
      rounded-xl
      text-emerald-200
      placeholder-gray-500;
}

.textarea {
  @apply
      bg-black
      border
      border-stone-600
      focus:outline-none
      focus:ring-2
      focus:border-emerald-500
      focus:ring-teal-400
      hover:animate-pulse
      w-full
      px-4
      rounded-xl
      text-emerald-200
      placeholder-gray-500;
}


.checkbox-radio-container {
  @apply
      flex
      items-center;
}

.checkbox-radio-container > .label {
  @apply
      hover:animate-none
      font-medium
      ml-3;
}

.checkbox {
  @apply
      bg-black
      rounded
      focus:border-emerald-500
      focus:ring-teal-400
      focus:ring-1
      focus:ring-offset-0
      text-emerald-500
      h-4
      w-4
      border-stone-600
      rounded;
}

.radio {
  @apply
  h-4
  w-4
  border-gray-300
  text-emerald-500
  focus:ring-teal-400
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
